.Hola{
    margin: 2%;
    width: 100%;
    padding: 1%;
    border-radius: 0%;
}
.Datos{
    color: black;
}
.Traer{
    background-color: rgba(255, 255, 255, 0.219);
    padding: 1%;
    width: 100%;
}